
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 .img{
   display: flex;
   justify-content: center;
   align-items: center;
 }


.para{
  text-align: center;
}
